.board {
  padding: 0 20px;

  &-card {
    min-height: 550px;
    border: none;
  }

  .ant-card-body {
    display: flex;
    justify-content: space-between;
  }

  &-list {
    width: 800px;
  }

  &-form {
    width: 300px;
    margin-left: 20px;
  }
}
