.board {
  padding: 0 20px;

  &-card {
    min-height: 550px;
    border: none;
  }

  .ant-card-body {
    display: flex;
    justify-content: space-between;
  }

  &-list {
    width: 800px;
  }

  &-form {
    width: 300px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .ant-card-body {
    display: flex;
    flex-direction: column;
  }
  .board-list {
    width: unset;
  }
  .board-form {
    width: unset;
    margin: unset;
    margin-top: 10px;
  }
}
