@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap");

.items-list {
  font-family: "Exo", sans-serif;

  button {
    border: none;
    background-color: #40fdd72d;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-right: 20px;
  }

  button:hover {
    background-color: #40fdd788;
  }

  .total {
    float: right;
    padding: 10px;
  }
}
