@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap");

.items-list {
  font-family: "Exo", sans-serif;

  .ant-table-tbody > tr > td {
    font-size: 15px;
    padding: 25px;
  }

  button {
    border: none;
    background-color: #40fdd72d;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-left: 40px;
  }

  button:hover {
    background-color: #40fdd788;
  }

  .total {
    float: right;
    padding: 10px;
  }
}
